<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfyre-riLZz3k2mSdRhOSbZIICtOmTF9g</string>
	<key>GCM_SENDER_ID</key>
	<string>269970800248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMasterclass</string>
	<key>PROJECT_ID</key>
	<string>flutter-rpg-files</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-rpg-files.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269970800248:ios:4b24181542d96974a1f78d</string>
</dict>
</plist>